$bg_url: 'https://wallpaperscraft.com/image/dawn_morning_snow_surface_mountains_38424_1920x1080.jpg';
body, html {
  height: 100%;
}
#container {
  height: 100%;
  width:100%;
  background: url($bg_url) center center no-repeat;
  background-size: cover;
  
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    display:block;
    background: rgba(25,25,25,.5);
  }
  
  &.__signingin #form-slider,
  &.__registration #form-info,
  {
    left: 50%;
  }
  &.__registration #form-slider,
  &.__signingin #form-info{
    left: 0;
  }
}
#form {
  overflow:hidden;
  padding:0;
  top: 100px;
  border-radius: 6px;
  background: url($bg_url) center center no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px 2px rgba(0,0,0,.5);
  border: px solid rgba(0, 0, 0, 0);
  
  #form-slider {
    background: #FFF;
    position:relative;
    padding: 20px;
    width: 50%;
    transition: left 1.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    left: 0;
    box-shadow: 0 0 40px 2px rgba(0,0,0,.3);
  }
  #form-info {
    font-family: 'Lobster', sans-serif;
    position: absolute;
    color: #FFF;
    top: 20%;
    left: 0;
    width: 50%;
    
    & > div {
      position: absolute;
      width: 100%;
      left: 0;
      padding: 30px;
    }
    
    .btn-link {
    font-family: sans-serif;
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    }
  }
}

.btn-separator {
  text-align: center;
  margin: 2px 0;
  color: #777;
}